<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>falock'sWinTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEF97A501EE8F4EA00F4CA88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF97A611EE8F4EB00F4CA88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF97A6C1EE8F4EB00F4CA88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
